<div class="stylebinding">
    <h1>Class Binding</h1>

    <p [ngStyle]="{'color': textColor, 'font-size': fontSize}">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Perspiciatis officiis a
        nihil laborum eaque, corrupti,
        ad pariatur eligendi distinctio itaque reprehenderit voluptatem iusto voluptas quas! Delectus esse expedita
        animi dicta.</p><br><br>

    <p [ngStyle]="{'color': isActive ? 'green' : 'red'}">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Perspiciatis officiis a nihil
        laborum eaque, corrupti,
        ad pariatur eligendi distinctio itaque reprehenderit voluptatem iusto voluptas quas! Delectus esse expedita
        animi dicta.</p><br><br>

    <p [ngStyle]="StyleFunction()">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis officiis a
        nihil
        laborum eaque, corrupti,
        ad pariatur eligendi distinctio itaque reprehenderit voluptatem iusto voluptas quas! Delectus esse expedita
        animi dicta.</p><br><br>

    <p [style]="StyleFunction()">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis officiis a nihil
        laborum eaque, corrupti,
        ad pariatur eligendi distinctio itaque reprehenderit voluptatem iusto voluptas quas! Delectus esse expedita
        animi dicta.</p><br><br>


</div>