<div class="Property_binding">
    <h1>Property Binding</h1>

    <img [src]="img" alt="Supposed to be a image">
    <button type="button" [disabled]="isDisabled">Click here</button>
    <p [class]="isTextColor">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus aliquam, rem quam,
        voluptatum
        optio non
        voluptate aliquid quo, nobis quaerat fugiat ipsam. Consequatur, quis sed neque adipisci necessitatibus
        dignissimos in!</p>
    <span [style]="isFontSize">Font-size using propert binding</span>

</div>