<h1>App Component</h1>

<!-- <app-propertybinding></app-propertybinding> -->
<!-- <app-eventbinding></app-eventbinding> -->
<!-- <app-template-reference></app-template-reference> -->
<!-- <app-classbinding></app-classbinding> -->
<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-twowaydatabinding></app-twowaydatabinding> -->

<!-- Input Decorator -->
<!-- <app-inputdecorator></app-inputdecorator> -->

<!-- Output Decorator -->
<!-- <app-outputdecorator></app-outputdecorator> -->

<!-- <app-structuraldirectives></app-structuraldirectives> -->

<!-- <app-ngtemplate></app-ngtemplate> -->

<!-- <div class="lifecycle">


    <input type="text" [(ngModel)]="value" #result>
    <br><br><br>
    <button type="button" (click)="toggle()">Toggle Lifecycle component</button>
    <br>
    <br>
    <br>

    <button type="button" (click)="toggleText()">Toggle text</button>

    <app-lifecycleparent *ngIf="isTrue" [value]="value">

      <div>

      </div>

        <p texts>{{ defaultText }}</p>
        <p texts>{{ defaultText }}</p>
       <input type="text" placeholder="Enter your name" nameContent #contentchild>

    </app-lifecycleparent>

    <app-lifecycleparent *ngIf="isTrue"></app-lifecycleparent>
</div> -->

<!-- <app-formparent></app-formparent> -->

<!-- <app-pipe></app-pipe> -->

<!-- <app-service-com></app-service-com> -->
<!-- <app-shareing></app-shareing> -->

<!-- <app-apiintegration></app-apiintegration> -->
<!-- <app-rxjs></app-rxjs> -->

<app-customcomponent1></app-customcomponent1>
    <app-customcomponent2></app-customcomponent2>

<nav class="navbar">
    <div class="navbar-container">
      <a href="#" class="logo">Angular</a>
      <ul class="nav-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/reactiveform">Reactiveform</a></li>
        <li><a routerLink="/propertybinding">Propertybinding</a></li>
        <li><a routerLink="/twowaybinding">Twowaybinding</a></li>
        <li><a routerLink="/profile">Profile</a></li>
        <li><a routerLink="/directive">Directives</a></li>
      </ul>
      <div class="menu-toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </nav>
  

  <!-- All components is going to render inside this -->
<router-outlet>

</router-outlet>




<!-- <app-firstcomponent></app-firstcomponent> -->