<div class="classbinding">
    <h1>Class Binding</h1>

    <p [class.textColor]="isColor">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis officiis a
        nihil laborum eaque, corrupti,
        ad pariatur eligendi distinctio itaque reprehenderit voluptatem iusto voluptas quas! Delectus esse expedita
        animi dicta.</p><br><br>

    <p [class]="className">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis officiis a nihil
        laborum eaque, corrupti,
        ad pariatur eligendi distinctio itaque reprehenderit voluptatem iusto voluptas quas! Delectus esse expedita
        animi dicta.</p><br><br>

    <p [ngClass]="condtionBased">3 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis officiis a nihil
        laborum eaque, corrupti,
        ad pariatur eligendi distinctio itaque reprehenderit voluptatem iusto voluptas quas! Delectus esse expedita
        animi dicta.</p><br><br>

    <p [ngClass]="classFunction()">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis officiis a nihil
        laborum eaque, corrupti,
        ad pariatur eligendi distinctio itaque reprehenderit voluptatem iusto voluptas quas! Delectus esse expedita
        animi dicta.</p><br><br>

    <p [ngClass]="['textRed', 'textBold', 'textSize', isTextColor ? 'textColor' : '']">Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Perspiciatis officiis a nihil
        laborum eaque, corrupti,
        ad pariatur eligendi distinctio itaque reprehenderit voluptatem iusto voluptas quas! Delectus esse expedita
        animi dicta.</p>


</div>